<div class="row">
  <nav  data-topbar>

    <!-- left title -->
    <ul class="small-2 columns title-area">
        <h1>
          <a href="/">
            <i class="fi-play-video"></i> Rails Ecommerce
          </a>
        </h1>
    </ul>


    <!-- serch bar -->
    <div class="small-4 columns">
            <input type="text" placeholder="Find Movie">

            <a href="#" class="button">Search</a>
    </div>


    <!-- Right stuff -->
    <div class="small-3 columns">
      <%if signed_in?%>
        <li>
          <%= link_to cart_path do%>
            <i class="fi-shopping-cart"></i> My Cart (<span class="cart-count"><%=current_user.cart_count%></span>)
          <%end%>
        </li>
        <li><%=link_to current_user.email, edit_user_registration_path%></li>
        <li><%=link_to "Logout", destroy_user_session_path, method: :delete%></li>
      <%else%>
        <li><%=link_to "Register", new_user_registration_path%></li>
        <li><%=link_to "Login", new_user_session_path%></li>
      <%end%>
    </div>


    </nav>
</div>