<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Rails Ecommerce" %></title>
    <%= favicon_link_tag 'favicon.ico' %>

    <%= include_gon %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>


    <%= csrf_meta_tags %>


  </head>

<body>

  <%=render partial: "layouts/header" unless current_page?("/")%>

  <%=render partial: "layouts/alerts" unless current_page?("/")%>


  <div id="main-content" class="row full-min-height">
    <%= yield %>
  </div>
  <%=render partial: "layouts/footer" unless current_page?("/")%>
</body>


</html>
